.about-cntainer {
    width: 100%;
    padding: 40px 0;
}

.about-box {
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    gap: 25px;
    background: #ffff;
    border-radius: 10px;
    position: relative;
}

.about_card-pic {
    background-image: url(../../assets/chef.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    z-index: 10;
    margin-top: 40px;
}

.about_card-text {
    max-width: 500px;
}

.about_card-title {
    font-family: "CormorantGaramond", serif;
    font-size: 3rem;
    font-weight: 600;
    color: #df7e3d;
    margin-bottom: 20px;
}

.about_card-p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about_card-pic {
        display: none;
    }

    .about_card-title {
        font-size: 2rem;
    }
    
    .about_card-p {
        font-size: 0.9rem;
    }

    .about-box {
        padding: 20px;
    }
}