.carausel-text-box {
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.carausel-title {
    text-align: center;
    font-family: "CormorantGaramond", serif;
    font-size: 3rem;
    font-weight: 600;
    color: #df7e3d;
    margin-bottom: 20px;
}

.carousel-container {
    margin: auto;
    position: relative;
    overflow: hidden;
    max-width: 900px;
}

.carousel-wrapper {
    display: flex;
    min-height: 300px;
    justify-content: center;
}

.slide {
    position: absolute;
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-image {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.slide-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: lightgray;
    border-radius: 40px;
}

.slide.active {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 40;
}

.slide.next {
    transform: translateX(95%) scale(0.8);
    z-index: 20;
}

.slide.prev {
    transform: translateX(-95%) scale(0.8);
    z-index: 20;
}

.slide.hidden {
    transform: translateX(100%);
    opacity: 0;
    z-index: 10;
}

.carousel-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-btn {
    cursor: pointer;
    font-size: 30px;
    color: #5e5e5e;
}

.control-btn:hover {
    color: #df7e3d;
}

.carousel-indicators {
    display: flex;
}

.indicator {
    height: 8px;
    width: 50px;
    margin: 0 5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #808080;
}

.indicator.active {
    background-color: #df7e3d;
}

@media (max-width: 768px) {

    .carousel-wrapper {
        min-height: 200px;
    }

    .slide-image {
        width: 350px;
        height: 200px;
    }
}