.intro-section {
    background: 
    linear-gradient(rgba(20, 18, 17, 0.804), rgba(42, 42, 40, 0.596)),
        url('../../assets/rest-bg.jpg');
    background-position: center 30%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.intro-section__container {
    margin: auto;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-section__rest-name {
    font-family: "CormorantGaramond";
    font-weight: 700;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    color: #ffff;
    z-index: 1;
}

.gradient-text {
    color: #ffff;
    /* background-image: linear-gradient(90deg, #ad817c, #df7e3d,#df7e3d);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; */
}

.intro-subtext {
    width: fit-content;
    text-align: center;
    font-family: 'Delius', serif;;
    font-weight: 700;
    font-size: 3rem;
    color: #FFD700;
    position: absolute;
    bottom: 190px;
    right: 95px;
    transform: rotate(-10deg);
}

.intro-subtext {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit 20s linear infinite;
    font-style: italic;
    text-align: center;
    transform-origin: 0 0;
    width: 120px;
    opacity: 0.9;
    transition: transform 0.3s ease;
}

@keyframes orbit {
    from {
        transform:
            rotate(0deg) translateX(120px) rotate(0deg);
    }

    to {
        transform:
            rotate(360deg) translateX(120px) rotate(-360deg);
    }
}

.intro-subtext::after {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255, 165, 0, 0.4) 1%, transparent 40%);
    mix-blend-mode: screen;
}

.intro-section-nav {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-section-nav-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.intro-section__nav-links {
    display: flex;
    gap: 35px;
}

.nav-btn {
    background: rgb(63, 75, 68);
    border-radius: 15px;
    padding: 10px 20px;
    color: #FFD700;
}

.nav-links>button {
    padding: 0 10px;
    color: #ffffff;
    font-size: 1.5rem;
}

.nav-links>button:hover {
    color: #FFD700;
}


@media (max-width: 768px) {
    .nav-links>button {
        font-size: 0.8rem;
    }

    .intro-section__rest-name {
        font-size: 5rem;
    }

    .intro-subtext {
        font-size: 1rem;
        animation: none;
        left: 60%;
    }

    .intro-subtext::after {
        top: -80px;
        opacity: 0.5;
    }
}