@font-face {
    font-family: "CormorantGaramond";
    src:
        url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    background: transparent;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.main {
    position: relative;
}

.section-container {
    margin: 40px 0;
    padding-top: 20px;
}

@media (max-width: 768px) {
    html {
        font-size: 12px;

    }
    .section-container {
        margin: 50px 0;
        padding: 10px 0;
    }
}